@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Layout.module.css */
.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the background is behind other content */
  background-image: url('https://your-background-image-url.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Adjust opacity as needed */
}

/* Image Carousel */
.container {
  position: relative; /* Ensure content scrolls above the background */
  z-index: 1; /* Content should be above the background */
  padding-top: 100px; /* Adjust padding to ensure content isn't covered by the fixed background */
}
.carousel-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.custom-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 40px 8px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid gold;
  cursor: pointer;
}

.custom-dot:hover {
  background: #ffb80e;
}

.custom-dot.active {
  background: #ffb80e;
}

.custom-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 16px 0;
}

.react-multi-carousel-list {
  position: relative;
}

.react-multi-carousel-track {
  overflow: hidden;
}

.react-multiple-carousel__arrow {
  display: none;
}


/* Shorts */
/* globals.css */
.video-shorts-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-shorts-container {
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  width: 80%;
}

.video-box {
  flex: 0 0 30%;
  max-width: 30%;
  margin: 0 10px; /* Add spacing between videos */
  transition: transform 0.3s, box-shadow 0.3s;
}

.video-element {
  width: 100%;
  height: 70vh; /* Increase the height of the videos */
  cursor: pointer;
  object-fit: cover; /* Ensure the video maintains aspect ratio */
  border-radius: 10px; /* Make the edges of the videos round */
}

.video-box.focused {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.video-box:not(.focused) {
  transform: scale(0.9); /* Scale down non-playing videos */
}

.prev-button,
.next-button {
  /* background-color: #ffc107; */
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100px;
  transition: background-color 0.3s;
}

  .prev-button:hover,
  .next-button:hover {
    transform: scale(1.3); /* Scale to 120% */
    }





/* new */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2{
  color: white;
  text-align: center;
}

.mainContainer{
  margin: 10px;
}

.mainContainer .container{
  padding: 40px 0;
}

.mainContainer .container img{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

div h3{
  color: white;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-custom-color{
  background-color: #eaab0c;
}

/* short play */
.video-element {
  transition: transform 0.2s ease; /* Add a smooth transition */
}

.playing {
  transform: scale(1.1); /* Scale up the video when it's playing */
}


/* Services */
.services-carousel-container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.services-carousel-container h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.service-card {
  position: relative;
  height: 50vh;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-info h3 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.service-info p {
  font-size: 1.2em;
  margin: 0;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  z-index: 2;
  color: black;
}

.left-arrow {
  left: -50px;
}

.right-arrow {
  right: -50px;
}

